@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background: #1f2937 !important;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  ::-webkit-scrollbar{
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb{
    background: transparent;
    background: #919191 !important;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background: #a0a0a0 !important;
  }
  